:host {
  /*padding:10px;*/
}

mat-card{
  /*margin:10px;*/
}

.example-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.example-container > * {
  /*width: 100%;*/
}

.profile-card {
  background: #f6f5f5;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.5);
}

.profile-image{
  max-width: 200px;
  max-height: 200px;
}
