<mat-card>
  please start with <button mat-raised-button routerLink="/profile">login</button>
  <mat-card-header><p>SETUP</p></mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>@angular/cli</mat-list-item>
      <mat-list-item>@angular/*</mat-list-item>
      <mat-list-item>@angular/material</mat-list-item>
      <mat-list-item>@ngrx/effects</mat-list-item>
      <mat-list-item>@ngrx/router-store</mat-list-item>
      <mat-list-item>@ngrx/store</mat-list-item>
      <mat-list-item>angularfire2</mat-list-item>
      <mat-list-item>firebase ('npm run firebase-deploy' builds prod version and deploy to firebase)</mat-list-item>
      <mat-list-item>firestore</mat-list-item>
      <mat-list-item>firebase/auth (facebook/google+/usermail)</mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>
